h2.section-title {
  margin-bottom: 10px;
}

h3.section-subtitle {
  margin-bottom: 10px;
}

/* Класс для команд */
.command-code {
  font-size: 16px;
  background-color: var(--color-code-bg);
  transition: transform 0.1s ease;

  /*  Без переноса на новую строку*/
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
}

.command-code:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
  cursor: crosshair;
}

/* Картинка с тегом p */
.text-with-image {
  display: flex;
  align-items: center;
  gap: 8px;
}

