.modal {
  display: none;
  position: fixed;
  z-index: 1;
  inset: 0; /* Эквивалентно top: 0; right: 0; bottom: 0; left: 0; */
  background-color: var(--color-bg-modal);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal__image {
  width: 70%;
  height: auto;
  max-width: 900px;
  max-height: 85vh;
  transition: transform 0.3s ease;
  border-radius: 5px;
  object-fit: contain;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-text-secondary);
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.modal__close:hover,
.modal__close:focus {
  color: var(--color-text-tertiary);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5);
}

