html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: $c_pure_white;

  min-height: 100vh;

  background: radial-gradient(ellipse at center, $c_deep_indigo, $c_dark_indigo);
}

p { 
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* Внутренние отступы */
  padding: 0px;
  /* Ширина контейнера */
  width: 95%;
  max-width: 800px;
}

.container .title-section {
  display: flex;
  /* Центрирует элементы по вертикали */
  align-items: center;
  /* Добавляет небольшой отступ между картинкой и текстом */
  gap: 10px;

  font-size: 28px;
  font-weight: bold;

  padding: 20px;
  text-align: left;

  background: $c_muted_blue;

  border-top-color: $c_light_indigo_semi_transparent;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: $c_light_indigo_semi_transparent;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: $c_light_indigo_semi_transparent;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: $c_light_indigo_semi_transparent;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.container .content-section {
  font-size: 16px;
  
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: $c_medium_indigo_semi_transparent;

  border-top-color: $c_light_indigo_semi_transparent;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: $c_light_indigo_semi_transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $c_light_indigo_semi_transparent;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: $c_light_indigo_semi_transparent;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container .content-section a {
  color: $c_soft_lavender;
  text-decoration: none;
  font-weight: bold;
}

.container .content-section a:hover {
  color: $c_pale_cyan;
}

.container .content-section .union p {
  margin: 10px;
  padding-left: 15px;
}

.container .space {
  padding: 2px;
}

.content-section .warning {
  background-color: $c_light_orange_transparent;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.container .section-space {
  padding: 10px;
}

/* Класс контейнера для предупреждений */
.container .warning-info {
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 6px;
  border: 2px solid $c_muted_lavender;

  background: $c_deep_lavender;
}

.container .warning-info a {
  color: $c_pure_white;

  font-size: 18px;
  text-decoration: none;
  transition: font-size 0.4s ease;
  font-weight: bold;
}

.container .warning-info a:hover {
  color: $c_soft_red;
  font-size: 20px;
  transition: color 0.4s ease, font-size 0.4s ease;
}

/* Класс контейнера для содержания */
.container .content-info {
  background: $c_dark_indigo_transparent;

  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;

  border: 2px solid $c_medium_indigo_transparent_alt;
}

.container .content-info a {
  color: $c_pastel_lavender;

  display: inline-block;

  font-size: 18px;
  font-weight: bold;

  text-decoration: none;
  transition: color 0.4s ease, font-size 0.4s ease;
}

.container .content-info a:hover {
  color: $c_soft_cyan;
  font-size: 20px;
  transition: font-size 0.4s ease;
}

.footer-space {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  flex: 1;
}