:root {
  /* Основные цвета */
  --color-text-primary: #fff;
  --color-text-secondary: #f1f1f1;
  --color-text-tertiary: #bbb;

  /* Фоновые цвета */
  --color-bg-primary: #4a4285;
  --color-bg-secondary: #29244c;
  --color-bg-container: rgba(74, 68, 125, 0.32);
  --color-bg-container-alt: rgba(87, 80, 141, 0.45);
  --color-bg-warning: rgba(220, 149, 85, 0.1);
  --color-bg-modal: rgba(0, 0, 0, 0.8);
  --color-bg-info: rgba(142, 83, 119, 0.45);
  --color-bg-content: rgba(70, 53, 96, 0.45);
  --color-bg-menu: #3c2f6c;
  --bg-darker: #1a1428;

  /* Цвета границ */
  --color-border-primary: rgba(119, 114, 159, 0.45);
  --color-border-secondary: rgba(119, 114, 159, 0.31);
  --color-border-container: rgba(119, 114, 159, 0.8);
  --color-border-info: rgba(216, 120, 146, 0.47);
  --color-border-alt: rgba(121, 103, 147, 0.31);

  /* Цвета заголовков */
  --color-heading-bg: rgba(80, 80, 141, 0.75);

  /* Цвета ссылок и интерактивных элементов */
  --color-link-primary: #e999ff;
  --color-link-secondary: #cb96ff;
  --color-link-hover: #60daff;
  --color-link-warning: #ff6e6e;
  --color-button-primary: #8373bd;
  --color-button-hover: #357ab8;
  --color-code-bg: rgba(0, 255, 255, 0.17);

  /* Цвета для эффектов */
  --color-glitch-primary: #ff00ff;
  --color-glitch-secondary: #00ffff;
  --color-accent: #ebb87a;

  /* Цвета для уведомлений */
  --color-success: green;
  --color-warning: #ff6e6e;

  --transition: all 0.3s ease;
}

