h2.headlines {
  margin-bottom: 10px;
}

h3.headlines {
  margin-bottom: 10px;
}

/* Класс для команд */
code {
  font-size: 16px;

  background-color: #00ffff2b;
  transition: transform 0.1s ease;

  /*  Без переноса на новую строку*/
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
}

code:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
  cursor: crosshair;
}

/* Картинка с тегом p */
.p-img {
  display: flex;
  align-items: center;
  gap: 8px;
}

