/* Обработка поведения для мобильных устройств */
@media (max-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container {
    width: 90%;
  }

  /* Скрытие логотипа */
  .header .logo {
    display: none;
  }
  .header {
    width: 100%;
    margin-top: 0;
    border-radius: 0px;
  }
  .header a {
    font-size: 20px;
  }

  .footer-container {
    width: 100%;
  }
  .footer-container .footer {
    margin-bottom: 0;
    border-radius: 0px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}
