/* Обработка поведения для мобильных устройств */
@media (max-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container {
    width: 90%;
  }

  /* Скрытие логотипа */
  .header .logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}
