.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin-top: 15px;

  background: #4a447d52;
  border: 2px solid #77729f73;
  border-radius: 4px;
}

/* Базовый стиль для текста с эффектом глитча */
.logo-glitch {
  font-family: Arial, sans-serif;
  font-size: 44px;
  font-weight: bold;

  padding: 12px 25px;

  position: relative;
  font-size: 44px;
  font-weight: bold;
  color: white;
  animation: glitchText 3s infinite;
}

/* Псевдоэлементы для создания эффекта глитча */
.logo-glitch::before,
.logo-glitch::after {
  padding: 12px 25px;
  content: "Niko Bot";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Первый слой глитча с розовым смещением */
.logo-glitch::before {
  animation: glitchBefore 3s infinite;
  text-shadow: 2px 0 #ff00ff;
  z-index: -1;
}

/* Второй слой глитча с голубым смещением */
.logo-glitch::after {
  animation: glitchAfter 3s infinite;
  text-shadow: -2px 0 #00ffff;
  z-index: -2;
}

/* Анимация для основного текста */
@keyframes glitchText {
  0%, 100% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
}

/* Анимация для первого псевдоэлемента */
@keyframes glitchBefore {
  0%, 100% { transform: translate(0); }
  20% { transform: translate(3px, -3px); }
  40% { transform: translate(3px, 3px); }
  60% { transform: translate(-3px, -3px); }
  80% { transform: translate(-3px, 3px); }
}

/* Анимация для второго псевдоэлемента */
@keyframes glitchAfter {
  0%, 100% { transform: translate(0); }
  20% { transform: translate(-3px, 3px); }
  40% { transform: translate(-3px, -3px); }
  60% { transform: translate(3px, 3px); }
  80% { transform: translate(3px, -3px); }
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 24px;

  transition: color 0.1s ease, transform 0.3s ease;
}

.header a:hover {
  color: #60daff;

  transform: translate(0 ,10px);
}

.active {
  border-bottom: 5px solid #ebb87a;
}

.header .links {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}
