.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin-top: 15px;

  background: #100e22;
  border-bottom: 2px solid #363255;
  border-radius: 4px;
}

.header .logo {
  font-size: 44px;
  font-weight: bold;
  color: #EC7FA9;
  text-shadow: 2px 2px 0px #BE5985;
  padding: 12px 25px;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 24px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  transition: border-bottom 0.1s ease, transform 0.3s ease;

  border-bottom: 5px solid #100e22;
}

.header a:hover {
  color: #ebb87a;
  border-bottom: 5px solid #ebb87a;
  transition: border-bottom 0.1s ease, transform 0.3s ease;
  transform: scale(1.1);
  transform: translate(0 ,10px);
}

.active {
  border-bottom: 5px solid #ebb87a;
}

.header .links {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}