.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin-top: 15px;

  background: #100e22;
  border-bottom: 2px solid #363255;
  border-radius: 4px;
}

.header .logo {
  padding: 12px 25px;
  font-size: 44px;
  font-weight: bold;
  background: linear-gradient(
    to left,
    #E9FF97 20%,
    #FFD18E 30%,
    #FFA38F 70%,
    #FF7EE2 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;

  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 24px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  transition: border-bottom 0.1s ease, transform 0.3s ease;

  border-bottom: 5px solid #100e22;
}

.header a:hover {
  color: #ebb87a;
  border-bottom: 5px solid #ebb87a;
  transition: border-bottom 0.1s ease, transform 0.3s ease;
  transform: scale(1.1);
  transform: translate(0 ,10px);
}

.active {
  border-bottom: 5px solid #ebb87a;
}

.header .links {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}
