html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: #fff;

  min-height: 100vh;
}

p { 
  margin: 5px;
}

a.box {
  color: #fff;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: font-size 0.4s ease;
}

a:hover.box {
  color: #60daff;
  font-size: 16px;
  transition: font-size 0.4s ease;
}

.image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Контейнер описания */
.container-botInfo {
  display: flex;
  flex-flow: column;
  justify-content: left;
  width: 90%;
}

.container-botInfo a {
  color: #e999ff;

  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.container-botInfo a:hover {
  color: #60daff;
}
/* --- */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 95%;
  flex: 1;
}

.container .content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 250px;

  text-align: center;
  padding: 20px;
  border-radius: 6px;
  background: rgba(87, 80, 141, 0.5);
  border: 2px solid #77729f73;
}

.space {
  padding: 5px;
}

.space-30 {
  padding: 30px;
}
