body {
  font-family: 'Arial', sans-serif;
  background: #340c62;
  color: #fff;

  margin: 10px;
  padding: 10px;
}

a.box {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: font-size 0.4s ease;
}

a:hover.box {
  font-size: 16px;
  transition: font-size 0.4s ease;
  color: #ff9900;
}

.image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.container .content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 250px;

  text-align: center;
  background: #682caf;
  padding: 20px;
  border-radius: 6px;
  border-bottom: 2px solid #8457b9;
}

.space {
  padding: 5px;
}