html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: #fff;

  min-height: 100vh;

  background: radial-gradient(ellipse at center, #4a4285, #29244c);
}

p { 
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* Внутренние отступы */
  padding: 0px;
  /* Ширина контейнера */
  width: 95%;
  max-width: 800px;
}

.container .title-section {
  display: flex;
  /* Центрирует элементы по вертикали */
  align-items: center;
  /* Добавляет небольшой отступ между картинкой и текстом */
  gap: 10px;

  font-size: 28px;
  font-weight: bold;

  padding: 20px;
  text-align: left;

  background: #50508dbf;

  border-top-color: #77729f50;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #77729f50;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #77729f50;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #77729f50;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.container .content-section {
  font-size: 16px;
  
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #57508d73;

  border-top-color: #77729f50;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #77729f50;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #77729f50;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #77729f50;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container .content-section a {
  color: #e999ff;
  text-decoration: none;
  font-weight: bold;
}

.container .content-section a:hover {
  color: #99f5ff;
}

.container .content-section .union p {
  margin: 10px;
  padding-left: 15px;
}

.container .space {
  padding: 2px;
}

.content-section .warning {
  background-color: #ff955545;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.container .section-space {
  padding: 10px;
}

/* Класс контейнера для предупреждений */
.container .warning-info {
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 6px;
  border: 2px solid #d8789278;

  background: #8e537773;
}

.container .warning-info a {
  color: #fffbb8;

  font-size: 18px;
  text-decoration: none;
  transition: font-size 0.4s ease;
  font-weight: bold;
}

.container .warning-info a:hover {
  color: #ff6e6e;
  font-size: 20px;
  transition: color 0.4s ease, font-size 0.4s ease;
}

/* Класс контейнера для содержания */
.container .content-info {
  background: #46356073;

  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;

  border: 2px solid #7967934f;
}

.container .content-info a {
  color: #cb96ff;

  display: inline-block;

  font-size: 18px;
  font-weight: bold;

  text-decoration: none;
  transition: color 0.4s ease, font-size 0.4s ease;
}

.container .content-info a:hover {
  color: #60daff;
  font-size: 20px;
  transition: font-size 0.4s ease;
}

.footer-space {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  flex: 1;
}