html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: #fff;

  background: #29244c;
  min-height: 100vh;
}

p { 
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* Внутренние отступы */
  padding: 0px;
  /* Ширина контейнера */
  width: 95%;
  max-width: 800px;
}

.container .content-section {
  font-size: 16px;
  
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  background: #57508d;
  border-bottom: 2px solid #77729f;
}

.container .content-section a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.container .content-section a:hover {
  color: #ff9900;
  border-bottom: 2px solid #ff9900;
}

.container .content-section .union p{
  margin: 10px;
  padding-left: 15px;
}

.container .title-section {
  display: flex;
  /* Центрирует элементы по вертикали */
  align-items: center;
  /* Добавляет небольшой отступ между картинкой и текстом */
  gap: 10px;

  font-size: 28px;
  font-weight: bold;

  background: #50508d;
  padding: 20px;
  text-align: left;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.container .space {
  padding: 2px;
}

.content-section .warning {
  background-color: #987c99;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.container .section-space {
  padding: 10px;
}

/* Класс контейнера для предупреждений */
.container .warning-info {
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border-bottom: 2px solid #d87892;
  background: #8e5377;
}

.container .warning-info a {
  color: #eddece;
  font-size: 18px;
  text-decoration: none;
  transition: font-size 0.4s ease;
  font-weight: bold;
}

.container .warning-info a:hover {
  color: #463560;
  font-size: 20px;
  transition: color 0.4s ease, font-size 0.4s ease;
}

/* Класс контейнера для содержания */
.container .content-info {
  background: #463560;

  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;

  border-bottom: 2px solid #53416d;
}

.container .content-info a {
  display: inline-block;

  font-size: 18px;
  font-weight: bold;
  color: #ebdcca;

  text-decoration: none;
  transition: color 0.4s ease, font-size 0.4s ease;
}

.container .content-info a:hover {
  color: #ebb87a;
  font-size: 20px;
  transition: font-size 0.4s ease;
}

.footer-space {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  flex: 1;
}