.modal {
  display: none;
  position: fixed;
  z-index: 1;
  inset: 0; /* Эквивалентно top: 0; right: 0; bottom: 0; left: 0; */
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 70%;
  height: auto;
  max-width: 900px;
  max-height: 85vh;
  transition: transform 0.3s ease;
  border-radius: 5px;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
